body{
    padding: 0; margin: o;
    box-sizing: border-box;
}
.Container{
    max-width: 80%;
    margin-left: 10%;
    border-radius: 10px;
    background-color: beige;
    padding: 20px;
}
h1{text-align: center; border-radius: 10px; background-color: #000; color: #FFF; padding: 10px;}
.container-form{
    background-color: aliceblue;
    border-radius: 5px;
    padding: 10px;
}